.dataTables_length {
    display: none;
}

.dataTables_filter {
    display: none;
}

table.dataTable thead .sorting::before {
    display: none;
}

table.dataTable thead .sorting::after {
    display: none;
}

table.dataTable thead .sorting_asc:after {
    display: none;
}

div.dataTables_wrapper div.dataTables_info {
    margin-top: 40px !important;
}